@model LinkBuyLibrary.Models.Produto

@{
    ViewData["Title"] = "Detalhes";
}

<div class="row justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-9">
        <div class="card  o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-5">
                <h3 class="text-center" style="margin-bottom:25px; color:#6a0dac">Detalhes do produto</h3>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-dark table-striped-columns">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Imagem)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Descricao)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Valor)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Estoque)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Categoria)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Vendedor)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            <img src="~/uploads/@Model.Imagem" class="produto-imagem" />
                                        </td>
                                        <td>
                                            @Model.Descricao
                                        </td>
                                        <td>
                                            @Model.Valor.ToString("C", new System.Globalization.CultureInfo("pt-BR"))
                                        </td>
                                        <td>
                                            @Model.Estoque
                                        </td>
                                        <td>
                                            @Model.Categoria.Descricao
                                        </td>
                                        <td>
                                            @Model.Vendedor.Nome
                                        </td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">
                                                <span><i class="fas fa-edit" style="margin-right: 5px;"></i></span>
                                                Editar
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="user">
    <a class="btn btn-user" style="background-color:#6a0dac !important; color:white;" asp-action="Index"> <span><i class="fas fa-arrow-left"></i></span>  Lista de produtos</a>
</div>